body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.App {
  background-color: #fff;
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
  margin: 3% auto auto;
  min-height: 80vh;
  padding: 2%;
  width: 55vw;
}

.App > div {
  margin-bottom: 4%;
}

button {
  display: none;
}

.save-button {
  display: block;
}

.general-info {
  border-bottom: solid 2px #000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.column-section {
  display: flex;
  flex-direction: column;
}

.column-section:hover button {
  display: block;
}

.ed-exp {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container h1 {
  margin-bottom: 2%;
}

.ed-exp button {
  width: fit-content;
}

.ed-exp:hover button {
  display: block;
}

.section-title {
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section-title:hover button {
  display: block;
}
