body {
  background-color: #eeeefb;
  color: #000000bf;
  margin: 0;
  -webkit-print-color-adjust: exact;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input {
  background-color: #f8f8f8;
  margin-bottom: 1%;
}

input:focus {
  background-color: #fff;
}

.App {
  background-color: #fffaf0;
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
  margin: 3% auto auto;
  min-height: 80vh;
  padding: 2%;
  max-width: 550px;
}

.App > div {
  margin-bottom: 4%;
}

.material-icons-outlined {
  cursor: pointer;
  display: none;
}

form .material-icons-outlined {
  display: inline-block;
}

.general-info {
  border-bottom: solid 2px #000000b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
}

.general-info form:nth-child(1) input {
  font-size: 1.4rem;
}

.general-info h1 {
  font-size: 2rem;
}

.container {
  margin-bottom: 4%;
}

.container h1 {
  font-size: 1.8rem;
  margin-bottom: 2%;
}

.container form {
  border-bottom: 2px dashed #00000033;
  padding: 4%;
}

.container form input {
  font-size: 0.9rem;
}

.section-title:hover .material-icons-outlined {
  display: inline-block;
}

.row-section {
  display: flex;
  align-items: flex-start;
}

.row-section .save-button {
  display: inline-block;
}

.row-section:hover span {
  display: inline-block;
}

.column-section {
  display: flex;
  flex-direction: column;
}

.ed-exp {
  border-bottom: 2px dashed #00000033;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4%;
}

.ed-exp:hover .material-icons-outlined {
  display: inline-block;
}

.ed-exp h2 {
  color: #ef7d62;
  font-size: 1.3rem;
}

.ed-exp .date {
  font-size: 0.8rem;
  margin-bottom: 3%;
}

.ed-exp h3 {
  color: #0b9d0b;
}

.section-title {
  border-bottom: solid 1px #000000b8;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.add-button {
  display: inline-block;
  color: #f78c4c;
}

.save-button {
  color: #4646d5;
}

.edit-button {
  color: #0b9d0b;
}

.delete-button {
  color: #f11e1ed1;
}

@media (max-width: 650px) {
  .App {
    max-width: 450px;
  }

  .general-info h1 {
    font-size: 1.6rem;
  }

  h4,
  .ed-exp p {
    font-size: 0.9rem;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .ed-exp h2 {
    font-size: 1.2rem;
  }

  .ed-exp h3 {
    font-size: 1.1rem;
  }

  .general-info form:nth-child(1) input {
    font-size: 1rem;
  }

  .general-info form:nth-child(2) input {
    font-size: 0.7rem;
  }

  .container form input {
    font-size: 0.8rem;
  }
}
